body{
    // background-color: #e4d5b7;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-banner {
    display: flex;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #bea378;
    border-bottom: #7c7c7c 1px solid;
    text-shadow: 0px 3px 3px grey;
    z-index: 999;
    box-shadow: 0px 3px 3px grey;

    .logo {
        img{
            max-height: 140px;
            padding-left: 30px;
        }
    }

    .titres {
        margin: 0 auto;
        text-align: center;
        font-family: 'Montserrat';
        font-weight: bold;
        width: 100vw;
    }

    
    h1{
        padding-top: 10px;
        font-size: 25px;
        padding-bottom: 10px;
        

    }
    h3{
        color: #ff9f1c;
        font-size: 20px;
        margin-bottom: 10px;
    }
}

main{
    padding-top: 120px;
    max-width: 90%;
    margin: 0 auto;

    .horaires {
        display: flex;
        max-width: 400px;
        margin: 0 auto;
        font-family: 'Nunito';
        color: #7c7c7c;
        padding-bottom: 25px;
        
        .jour, .lieu {
            min-width:50%;  
            display: flex;
            justify-content: center;
            ul {
                display: block;
                margin: 0 auto;
            } 
        }
        
        .jour {
            color: black;

        }
    }
    .container-main {
        border: 1px solid black;
        border-radius: 3px;
        box-shadow: 5px 5px 15px 0px grey;
        background-color: #bea378;
    }
    .container-photo-principale{
        padding: 20px 5px;
        position: relative;

        img{
            box-shadow: 5px 5px 15px 0px grey;
            border-radius: 3px;
            min-height: 100%;
            display: block;
            margin: 0 auto;
        }

        p{
            text-align: center;
            font-family: 'Nunito';
            color: black;
            box-shadow: 0px 3px 3px #7c7c7c;
        }
    }

    .container-texte-presentation{
        max-width: 80%;
        margin: 0 auto;
        text-align: justify;
        padding-bottom: 20px;
        font-family: 'Nunito';

    }
    h1{
        font-size: 40px;
        font-weight: bolder;
        font-family: 'Montserrat';
        text-align: center;
        padding-top: 25px;
        color: #7c7c7c;
    }
    .container-menu, .container-marches{
        h2{
            text-align: center;
            padding-top: 20px;
            padding-bottom: 10px;
            font-size: 20px;
            font-family: 'Montserrat';
            font-weight: bold;
            text-shadow: 0px 2px 2px grey;
            text-transform: uppercase;
        }
        h3 { 
            text-align: center;
            font-family: 'Montserrat';
            color: #7c7c7c;
            padding-bottom: 10px;
            font-size: 20px;
        
        }

        p{
            font-family: 'Nunito';
            text-align: justify;
            padding: 10px 5px

        }
    }
    .menu{
        margin-bottom: 20px;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 5px 5px 15px 0px grey;
        margin-top: 30px;
        background-color: #bea378;


        img{
            height: auto;
            width: 100%;
            padding: 0 5px;
            border-radius: 10px;
        }

    }
    .marche {
        margin-top: 40px;
        margin-bottom: 40px;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    }
footer {
    background-color: black;
    margin-top: 25px;
}

.container-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 90%;
    margin: 0 auto;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Nunito';

    .contact, .marches {
        display: block;
    }

    h3 {
        font-weight: bolder;
        padding-bottom: 5px;
        font-size: 20px;
    }
}

hr {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    width: 50%;
  }

  /*----------------------------------------------FOOTER--------------------------------------*/
 footer {
    height: auto;
    padding-top: 40px;
    width: 100vw;
    color: white;
  
    .footer-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
  
      h3 {
        font-size: 2.1rem;
        font-weight: 500;
        text-transform: capitalize;
        line-height: 3rem;
      }
  
      p {
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
        color: #cacdd2;
  
      }
    }
  
    .socials {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0 3rem 0;
  
      li{
        margin: 0 10px;
  
        a {
          text-decoration: none;
          color: #fff;
          border: 1.1px solid white;
          padding: 8px;
          border-radius: 50%;
          width: 35px;
        }
      }
    }
  
    .footer-menu {
      margin-bottom: 20px;
  
      ul{
        display: flex;
  
        li {
          padding-right: 10px;
          display: block;
  
          a {
            color: #cfd2d6;
            border: 1.3px solid white;
            padding: 6px 15px;
            border-radius: 50px;
            text-decoration: none;
          }
  
          a:hover {
            color: #27bcda;
          }
        }
      }
    }
  
    .footer-bottom {
      background-color: grey;
      width: 100vw;
      padding: 20px;
      text-align: center;
  
      p {
        text-align: center;
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
  
        a {
          color: #44bae8;
          font-size: 16px;
          text-decoration: none;
        }
      }
    }
    @media (max-width:500px) {
     .footer-menu ul {
        display: inline;
      }
       .footer-menu ul li {
        margin-bottom: 20px;
      }
    }
  }