@media only screen and (min-width: 1200px) {

header {

    .container-banner {
    
   left:10%;
   width: 80%;


    h1{
        padding-top: 20px;
        font-size: 50px;
        padding-bottom: 10px;
        letter-spacing: 1px;
    }

    h3{
        font-size: 30px;
        padding-bottom: 15px;
    }
}
}

main{
    padding-top: 220px;

    .container {
        max-width: 50%;
        margin: 0 auto;

        .container-evenements {
            font-size: 30px;

            ul{
                max-width: 30%;
            }
            
        }
    }

    .horaires {
        max-width: 600px;
        font-size: 30px;

    }
    .container-main {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 2rem;
        margin-top: 60px;


    
    .container-photo-principale{
        margin: 0 auto;

        img{
            max-width: 700px;

        }

    }

    .container-texte-presentation {

        padding-right: 20px;
        display: flex;
        align-items: center;
    }

}

    .container-texte-presentation{
        max-width: 800px;
        font-size: 30px;

    }
    //Au memu + venez me rendre visite...
    h1{
        font-size: 50px;
        margin-top: 200px;
        text-transform: uppercase;
    }
    .container-menu, .container-marches{
        max-width: 1000px;
        margin: 0 auto;
        padding-top: 100PX;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        

        h2{
            font-size: 25px;
        }
        h3 { 
            padding: 10px;
        }

        p{
            padding-top: 5px;
            margin-top: 10px;
        }
    }
    .menu{
        display: grid;
        grid-template-rows: 0.5fr 5fr 2fr;
        font-size: 25px;
        padding-left: 5px;
        padding-right: 5px;
        border-top: 1px solid grey;



        img{
            
            height: 100%;
            object-fit: cover;
        }

    }
    }
}