body {
  background-color: #d9b99b;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-banner {
  display: flex;
  width: 100%;
  text-align: center;
  font-family: "Shadows Into Light";
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.9;
  border-bottom: #7c7c7c 1px solid;
  text-shadow: 0px 3px 3px grey;
  z-index: 999;
  box-shadow: 0px 3px 3px grey;
  transition: ease-in-out 0.5s;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border: 1px solid #7c3300;
}
.container-banner .logo img {
  max-height: 160px;
  padding-left: 30px;
  padding-top: 10PX;
}
.container-banner .titres {
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat";
  font-weight: bold;
  width: 100vw;
  padding-right: 30PX;
}
.container-banner h1 {
  padding-top: 10px;
  font-size: 25px;
  padding-bottom: 5px;
  font-family: "Solitreo";
  color: #7c3300;
}
.container-banner h3 {
  color: black;
  font-size: 15px;
  margin-bottom: 5px;
  font-family: "Solitreo";
  opacity: 0.8;
}

.nav-up {
  top: -150px;
}

main {
  padding-top: 150px;
  max-width: 90%;
  margin: 0 auto;
}
main .horaires {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  font-family: "Nunito";
  color: #7c3300;
  padding-bottom: 25px;
  font-size: 20px;
}
main .horaires .jour, main .horaires .lieu {
  min-width: 50%;
  display: flex;
  justify-content: center;
}
main .horaires .jour ul, main .horaires .lieu ul {
  display: block;
  margin: 0 auto;
}
main .horaires .jour {
  color: black;
  letter-spacing: 1px;
}
main .horaires .lieu {
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Solitreo";
}
main .container-main, main .container-evenements, main .container-tarifs {
  box-shadow: 5px 5px 15px 0px grey;
  background-color: white;
  opacity: 0.9;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 20px;
}
main .container-photo-principale {
  padding: 20px 5px;
  position: relative;
}
main .container-photo-principale img {
  box-shadow: 5px 5px 15px 0px grey;
  border-radius: 3px;
  min-height: 100%;
  display: block;
  margin: 0 auto;
}
main .container-photo-principale p {
  text-align: center;
  font-family: "Nunito";
  color: black;
  box-shadow: 0px 3px 3px #7c7c7c;
}
main .container-texte-presentation {
  max-width: 80%;
  margin: 0 auto;
  text-align: justify;
  padding-bottom: 20px;
  font-family: "Nunito";
}
main h1 {
  font-size: 35px;
  font-weight: bolder;
  font-family: "Solitreo";
  text-align: center;
  padding-top: 50px;
  color: #7c3300;
}
main .container-evenements {
  margin-top: 25px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Solitreo";
  color: #7c3300;
  padding-bottom: 25px;
  font-size: 20px;
}
main .container-evenements ul {
  padding-top: 25px;
  max-width: 60%;
  margin: 0 auto;
  list-style: circle;
}
main .container-menu h2, main .container-marches h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 22px;
  font-family: "Solitreo";
  font-weight: bold;
  text-shadow: 0px 2px 2px grey;
  text-transform: uppercase;
}
main .container-menu h3, main .container-marches h3 {
  text-align: center;
  font-family: "Montserrat";
  color: #7c7c7c;
  padding-bottom: 10px;
  font-size: 20px;
}
main .container-menu p, main .container-marches p {
  font-family: "Nunito";
  text-align: justify;
  padding: 10px 5px;
}
main .menu {
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0px grey;
  margin-top: 30px;
  background-color: white;
  opacity: 0.9;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 20px;
}
main .menu img {
  height: auto;
  width: 100%;
  padding: 0 5px;
  border-radius: 10px;
}
main .marche {
  margin-top: 40px;
  margin-bottom: 40px;
}
main .marche img {
  display: block;
  margin: 0 auto;
}
main .container-tarifs {
  font-family: "Nunito";
}
main .container-tarifs h3 {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  padding-top: 15px;
}
main .container-tarifs ul {
  list-style: disc;
  max-width: 60%;
  margin: 0 auto;
}

footer {
  background-color: black;
  margin-top: 25px;
}

.container-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 90%;
  margin: 0 auto;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Nunito";
}
.container-footer .contact, .container-footer .marches {
  display: block;
}
.container-footer h3 {
  font-weight: bolder;
  padding-bottom: 5px;
  font-size: 20px;
}

hr {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
  width: 50%;
  color: #7c3300;
}

/*----------------------------------------------FOOTER--------------------------------------*/
footer {
  height: auto;
  padding-top: 40px;
  width: 100vw;
  color: white;
}
footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
footer .footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
footer .footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
footer .socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
footer .socials li {
  margin: 0 10px;
}
footer .socials li a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 8px;
  border-radius: 50%;
  width: 35px;
}
footer .footer-menu {
  margin-bottom: 20px;
}
footer .footer-menu ul {
  display: flex;
}
footer .footer-menu ul li {
  padding-right: 10px;
  display: block;
}
footer .footer-menu ul li a {
  color: #cfd2d6;
  border: 1.3px solid white;
  padding: 6px 15px;
  border-radius: 50px;
  text-decoration: none;
}
footer .footer-menu ul li a:hover {
  color: #27bcda;
}
footer .footer-bottom {
  background-color: grey;
  width: 100vw;
  padding: 20px;
  text-align: center;
}
footer .footer-bottom p {
  text-align: center;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
footer .footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}
@media (max-width: 500px) {
  footer .footer-menu ul {
    display: inline;
  }
  footer .footer-menu ul li {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=style.css.map */